<section id="main">
    <h1>На правах рекламы</h1>
    <p>Используя собственные наработки, в краткий срок создаем качественные и современные веб приложения для автоматизации любых бизнес-процессов.
        Системы взаимодействия с клиентами (CRM), документооборота, складской учет, интернет-магазины, службы доставки, биллинговые системы,
        сервисы на базе телефонии (вплоть до уровня распределённых колл-центров) и многое другое.</p>
    <p>Интеграция с социальными сетями, генераторы отчетов, готовое SDK для мобильных приложений и другие нужные функции работают &laquo;из коробки&raquo;.</p>
    <p>Не <strike>Гербалайф</strike> PHP!</p>

    <p>В работе используем <a href="http://getblank.net">Blank</a>, <a href="https://golang.org">Go</a>, <a href="https://nodejs.org">Node.js</a>,
        <a href="https://facebook.github.io/react/">React.js</a>, <a href="https://angularjs.org/">Angular.js</a>,
        <a href="mongodb.com">MongoDB</a>, <a href="https://clickhouse.yandex/">ClickHouse</a>,
        <a href="https://www.postgresql.org/">PostgreSQL</a> и многие другие современные технологии.
    </p>
    <p>В зависимости от проекта, возможно применение гибкой методологии разработки по <b>Agile/Scrum</b>.</p>
    <p>Обращайтесь по контактам в меню.</p>

    {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
    {{ range $paginator.Pages }}
    <article class="article article-type-post" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
            <a href="{{ .Permalink }}" itemprop="url">
                {{if or (in (substr .Params.banner 0 7) "http://") (in (substr .Params.banner 0 8) "https://")}}
                <img src="{{ .Params.banner }}" class="article-banner">
                {{ else }}
                <img src="{{ .Site.BaseURL }}{{ .Params.banner }}" class="article-banner">
                {{end}}
            {{ end }}
            </a>

            {{ .Scratch.Set "summary" true }}

            {{ partial "article_header" . }}
            <div class="article-entry" itemprop="articleBody">
                <p>
                    {{ printf "%s" .Summary | markdownify }}
                    <br>
                </p>
                {{ if .Truncated }}
                <p class="article-more-link">
                    <a href="{{ .Permalink }}">
                        {{with .Site.Data.l10n.articles.read_more}}{{.}}{{end}}
                    </a>
                </p>
                {{ end }}
            </div>
        </div>
    </article>
    <hr>
    {{ end }}

    {{ partial "pagination" . }}
</section>
<!-- // main section -->
